*{
    box-sizing: border-box;
}

body {
    background-color: #695d5d;
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    padding: 0px;
    height: 100px;
    text-align: center;
}

h1 {
    font-size: 54px;
}

#size-change, #clear {
    background-color: #695d5d;
    color: #c7c6c5;
    font-size: medium;
    box-shadow: 0px 0px 3px 1px #000000;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 120px;
    flex: inherit;
    transition: 0.02s all;
}

#size-change:active, #clear:active {
    transform: scale(0.9);
}

.container {
    background-color: #c7c6c5;
    color: #695d5d;
    margin: 0px 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 0px;
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.grid-size, .color {
    width: 150px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid #695d5d;
    border-radius: 10px;
}

#currentSize {
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 95px;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px #695d5d inset;
}

.colorPicker {
    text-align: center;

}
.colorSelect {
    display: flex;
    flex-direction: column;
}

.radioGroup input {
    color: #695d5d;
}

.radioGroup {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

input[type=radio]{
    accent-color: #695d5d;
}

.draw-area {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 500px;
    border: 5px solid #695d5d;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 5px #000000;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.options {
    flex: 1;
}